<div class="container-fluid">
  <div class="jumbotron contact">
    <h1>Contact Me:</h1>
    <h1>Please reach me at:</h1>
    <h2>Charlie Lynch</h2>
    <h2>204 Main Street NW</h2>
    <h2>Tucker, GA 30084</h2>
   </div>

 <br>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true %>
 </div>      
    <div class="form-group">
      <%= label_tag :email, "Email Address" %>
      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true %>
  </div>
    <div class="form-group">
      <%= label_tag :message %>
      <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true %>
    </div>      
  </div>
</div>
<%= submit_tag "Send", class: "btn btn-default" %>   
<% end %>

</div>
</div>
<br>
<br>




